{% extends 'index.html' %}

{% block titulo %}
    Sensores
{% endblock %}

{% block contenido %}
    <h1>Listado de sensores</h1>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">SENSOR</th>
            <th scope="col">ESTADO</th>
            <th scope="col">VALOR</th>
            <th scope="col">OPCIONES</th>
          </tr>
        </thead>
        <tbody>
            {% for sensor in object_list %}
                <tr>
                    <th scope="row">{{ sensor.id }}</th>
                    <td>{{ sensor.sensor }}</td>
                    <td>{{ sensor.estado }}</td>
                    <td>{{ sensor.valor }}</td>
                    <td>
                        <a href="#" class="btn btn-primary">Editar</a>
                        <a href="#" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
{% endblock %}  